img {
    object-fit: scale-down;
}
.div-produto-destaque {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 100px;
}

.div-baixo {
    flex-direction: row-reverse !important;
}

.img-destaque-response {
    width: 250px;
}

.descricao-destaque {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.ul-destaque {
    text-align: start;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.li-destaque {
    text-align: start;
    justify-content: start;
    margin-bottom: 20px;
}

.titulo {
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
}
